%html{style: "height: 100%"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Email StarterKit
  %body{style: "margin: 0; padding: 0; height: 100%; background-color: white"}
    %table{style: "width: 100%; height: 100%; border-spacing: 0"}
      %tr
        %td{style: "width: 10%; background-color: #e8e8e8"}
        %td{style: "width: 80%; background-color: #FDFEFF"}
          %table{cellpadding: "0", cellspacing: "0", style: "border: 0; width: 100%; margin-bottom: 10%"}
            %tr
              %td
                %table{cellpadding: "0", cellspacing: "0", style: "border: 0; background-color: transparent; width: 100%"}
                  %tr
                    %td
                      %table{align: "center", cellpadding: "0", cellspacing: "0", style: "border: 0; width: 80%"}
                        %tr
                          %td{style: "height: 60px; valign: top"}
                %table{align: "center", cellpadding: "0", cellspacing: "0", style: "border: 0; width: 80%"}
                  %tr
                    %td{style: "height: 20px; valign: top"}
                  %tr
                    %td{style: "background-color: #E8E8E8; height: 79px; valign: top; border: 1px solid #00929f"}
                      %table{cellpadding: "0", cellspacing: "0", style: "border: 0; width: 100%"}
                        %tr
                          %td{style: "height: 22px; width: 68%"}
                          %td{style: "height: 20px; width: 32%"}
                        %tr
                          %td{style: "valign: top"}
                            %table{cellpadding: "0", cellspacing: "0", style: "border: 0"}
                              %tr
                                %td{style: "valign: bottom; width: 7%"}
                                  %table{cellpadding: "0", cellspacing: "0", style: "border: 0; width: 100%"}
                                    %tr
                                      %td{style: "width: 15px"}
                                      %td{style: "width: 10px"}
                                %td{style: "valign: middle; width: 93%"}
                                  %h1{style: "font-family: Helvetica, Arial, sans-serif; font-size: 24px; margin: 0px; margin-bottom: 20px; padding: 0px; color: #244a67"}
                                    = yield :head
                                    %span{style: "font-weight: normal"}
                                      = yield :mail
                          %td{style: "valign: top"}
                            %table{cellpadding: "0", cellspacing: "0", style: "border: 0; width: 100%"}
                              %tr
                                %td{style: "height: 10px"}
                %table{align: "center", cellpadding: "20", cellspacing: "0", style: "border: 0; width: 80%"}
                  %tr
                    %td{style: "background-color: white; border: solid 1px #00929f; valign: top; font-weight: 300"}
                      %h4{style: "font-family: Helvetica, Arial, sans-serif; font-size: 20px; margin: 0px; padding: 0px; color: #62b6ee"}
                        = yield :content_head
                      %table{cellpadding: "0", cellspacing: "0", style: "border: 0; width: 100%"}
                        %tr
                          %td{style: "height: 10px"}
                      .p_content{style: "font-family: Helvetica, Arial, sans-serif ; font-size: 15px; margin-top: 0px; margin-bottom: 0px; padding: 0px; color: #B8860B; padding-left: 10px"}
                        = yield :content
                      %table{cellpadding: "0", cellspacing: "0", style: "border: 0; width: 100%"}
                        %tr
                          %td{style: "height: 40px; valign: middle"}

        %td{style: "width: 10%; background-color: #e8e8e8"}
